{% extends "templates/web.html" %}

{% block title %}My Stock Entries{% endblock %}

{% block page_content %}
<div class="container">
    <h2>Drug Inventory</h2>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Date:</label>
        <div class="col-sm-4">
            <input type="date" id="from_date" class="form-control" required>
        </div>
        
    </div>
    <button id="filter_btn" class="btn btn-primary my-3">Filter</button>

    <table class="table table-bordered" id="items_table">
        <thead>
            <tr>
                <th>Ndc</th>
                <th>Drug Name</th>
                <th>Class</th>
                <th>Count Type</th>
                <th>MANUFACTURER</th>
                <th>PACKAGE SIZE</th>
                <th>Inventory On Hand</th>
              
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
{% endblock %}

<script src="pharmacy_report.js"></script>
